*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
main{
    margin:0 auto;
    padding:100px 200px;
}
.container{
    background-color: #FF6900;
    width:100vw;
    color:white;
    height: 8vh;
    position:fixed;
    z-index: 1;
}
.flex{
    display:flex;
    flex-direction:row;
}
.justifycontent{
    justify-content:space-around;
    text-align:center;
    vertical-align: middle;
    padding-top:2vh;
}
#logo{
    height: 30px;
    text-align: center;
}
.icona{
    height:20px;
}
ul{
    list-style: none;
}
li{
    padding-right:0.8rem;
}
.prodotto{
    height:500px;
    justify-content: center;
}
.column{
    width:calc(100% / 3);
    justify-content:center;
    text-align: center;
    background-size:cover;
    margin-right:15px;
    position:relative;
}
.prima{
    background-image:url(img/1.webp);
    height:500px;
}
.seconda{
    background-image:url(img/2.webp);
}
.terza{
    background-image:url(img/3.webp);
}
.heart{
    background-color: white;
    width:20px;
    font-size: 25px;
    position:absolute;
    right:0;
    top:0;
}
.discount{
    background-color: red;
    width:50px;
    padding:5px;
    color:white;
    position:absolute;
    left:0;
    bottom:40px;
}
.sostenibilità{
    background-color: green;
    width:100px;
    padding:5px;
    color:white;
    position:absolute;
    left:55px;
    bottom:40px;

}
.dettagli{
    width:calc(100% / 3);
    margin-right:10px;
    position:relative;
    margin-bottom:50px;
}
.grigio{
    color:gray;
}
.tagliato{
    text-decoration: line-through;
}
h1{
    font-size:20px;
}
.price{
    color:red;
}

footer{
    height:15vh;
    width:100wh;
    color:white;
    background-color:rgb(240, 159, 9);
    justify-content: space-between;
    background-color: #000000b4;
}
h2{
    font-size:15px;
    margin-bottom:0.6rem;
}
.spacebetween{
    justify-content:space-between;
    margin:33px 120px;
}
.column:hover .heart{
    color:red;
}


